body{
    background-image: url("minions.jpg");
    height: 100vh;
    width: 100vw;
}

h1{
    text-align: center;
}

button{
    margin: 0 45%;
    width: 10rem;
    height: 3rem;
    background-color: white;
    color: black;
    border-radius: 1rem;
    outline: none;
}
button:hover{
    background-color: yellow;
    font-weight: bolder;
    color: black;
    
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
textarea {
    width: 80rem;
    height: 15vh;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    
        }
        
.oup{
    text-align: center;
    margin: 2rem;
    font-size: 2rem;
    font-weight: 900;
}



#output{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    width: 80rem;
    height: 15vh;
    font-weight: bolder;
    background-color: antiquewhite;
        }