body{
    background-image: url("minions.jpg");
    min-height: 100%;
    min-width: 100%;
}

h1{
    text-align: center;
}

button{
    margin: 0 45%;
    width: 10rem;
    height: 3rem;
    background-color: white;
    color: black;
    border-radius: 1rem;
    outline: none;
}
button:hover{
    background-color: yellow;
    font-weight: bolder;
    color: black;
    
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
textarea {
    width: 80rem;
    height: 15vh;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    
        }
        
.oup{
    text-align: center;
    margin: 2rem;
    font-size: 2rem;
    font-weight: 900;
}



#output{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    width: 80rem;
    height: 15vh;
    font-weight: bolder;
    background-color: antiquewhite;
        }

.footer{
    
    background-color: lightblue;
    position: absolute;
  bottom: 0;
  width: 100%;
  height: auto
}

.footer ul{
    display: flex;
    list-style: none;
    bottom: 0;
    justify-content: center;

}

.footer li{
    margin: auto 2rem 0 2rem;
    padding: 0  2rem;
    font-size: 2rem;
    
}

.footer p{
    text-align: center;
    font-size: 1.2rem;
    color: purple;
}