body{
    background-image: url("minions.jpg");
    
}

h1{
    text-align: center;
}

button{
    margin: 0 45%;
    width: 10rem;
}

textarea {
    width: 80%;
    height: 15vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
        }
        
.oup{
    text-align: center;
}



#output{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    width: 80%;
    height: 15vh;
    font-weight: bolder;
    background-color: antiquewhite;
        }